<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Algun proyecto</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolor fugiat ipsum quaerat alias rem a laudantium dolorum provident ipsam id consequuntur saepe, consectetur, iusto beatae ducimus sapiente debitis nulla.</p>
        </div>
        <div class="col-sm-12 col-md 3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/pexels-christina-morillo-1181263.jpg" alt="" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
